{
  "extends": ["airbnb-base/legacy", "prettier"],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2021
  },
  "ignorePatterns": ["node_modules", "bin"],
  "rules": {
    "consistent-return": "off"
  }
}
